@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* @tailwind base;
@tailwind components; */
@tailwind utilities;
:root {
    font-family: "Ubuntu", sans-serif;
    /* text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; */

    --bg-grey-1: #333333;
    --warm-grey: #aea79f;
    --bg-dark-1: #111111;
    --bg-dark-2: #1f1f1f;
    --white: #fff;
    --main-orange: #e95420;
    /* --bg-light-white: #ffffff00; */
    --bg-light-white: #ffffff1f;
    --bg-darker-white: #ffffff1d;
    --bg-soft-white: #ffffff43;
    --bg-dark-trans: #1c1017ca;
}
* {
    letter-spacing: 0.5px;
    cursor: url("/cursor/arrow_24x24.png"), auto;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}
body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    display: flex;
    background-image: url(/img/Wallpaper/Jammy-Jellyfish_WP_2560x1440.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h2 {
    margin: 0;
}
